<h2><b>Import các thư viện

In [2]:
#import các thư viện cần dùng

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# bổ sung nếu cần 
from numpy import random

<h2><b>Khám phá dữ liệu </b></h2>

<b>Đầu tiên đọc file <b>games_info.csv</b> vào một Dataframe tên là `df_games_info`.</b>

In [3]:
#   YOUR CODE HEAR
df_games_info = pd.read_csv('../data/games_info.csv')
df_games_info.head(5)

,Title,Release date,Platform,Other platforms,Publisher,Developer,Genres,Rating,Number of players,Metascore,Number of critic reviews,User Score,Number of user reviews
0,The Legend of Zelda: Ocarina of Time,"Nov 23, 1998",Nintendo 64,NaN,Nintendo,Nintendo,"Action Adventure,Fantasy",E,1 Player,99.0,22,9.1,7359
1,Tony Hawk's Pro Skater 2,"Sep 20, 2000",PlayStation,"iPhone/iPad,PC",Activision,Neversoft Entertainment,"Sports,Alternative,Skateboarding",T,1-2,98.0,19,7.4,845
2,Grand Theft Auto IV,"Apr 29, 2008",PlayStation 3,"PC,Xbox 360",Rockstar Games,Rockstar North,"Action Adventure,Modern,Modern,Open-World",M,1 Player,98.0,64,7.8,4735
3,SoulCalibur,"Sep 8, 1999",Dreamcast,NaN,Namco,Namco,"Action,Fighting,3D",T,1-2,98.0,24,8.4,394
4,Grand Theft Auto IV,"Apr 29, 2008",Xbox 360,"PC,PlayStation 3",Rockstar Games,Rockstar North,"Action Adventure,Modern,Modern,Open-World",M,1 Player,98.0,86,8.0,3671

<b>Dữ liệu gồm bao nhiêu dòng và cột, lưu số dòng và số cột vào 2 biến `num_rows` và `num_cols`.</b>

In [4]:
#   YOUR CODE HEAR
num_rows = df_games_info.shape[0]
num_cols = df_games_info.shape[1]
print(num_cols)
print(num_rows)

13
1498

<b>Các dòng của dữ liệu có bị lặp không, lưu vào biến `have_duplicated_rows` là `False` nếu không lặp và ngược lại.</b>

In [5]:
#   YOUR CODE HEAR
have_duplicated_rows = False
if df_games_info[df_games_info.duplicated()].empty == True:
    have_duplicated_rows == True
print(have_duplicated_rows)

False

<b>Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?</b>

Lưu giá trị của các kiểu dữ liệu vào biến `col_dtypes`.

In [6]:
#   YOUR CODE HEAR
df_games_info.dtypes
col_dtypes = df_games_info.dtypes
print(col_dtypes)

Title                        object
Release date                 object
Platform                     object
Other platforms              object
Publisher                    object
Developer                    object
Genres                       object
Rating                       object
Number of players            object
Metascore                   float64
Number of critic reviews      int64
User Score                  float64
Number of user reviews        int64
dtype: object

<b>Ý nghĩa của các dòng và các cột</b>

<b>Tìm kiếm kiểu dữ liệu thật sự của các cột có dtype là object.</b>

In [7]:
# YOUR CODE HERE
def open_object_dtype(s):
    dtypes = set()
    s.apply(lambda x : dtypes.add(type(x)))
    return dtypes

print(open_object_dtype(df_games_info['Number of players']))

{<class 'float'>, <class 'str'>}

<b>Các vấn đề cần tiền xử lí</b>
- Cột Release date đang có kiểu dữ liệu là `str`, việc cần làm là đổi nó sang kiểu `datetime`.
- Cột Rating để biểu diễn lứa tuổi phù hợp đang có 2 kiểu dữ liệu là `str` và `float`, việc cần làm là đổi cột này sang dạng `int`.
- Cột Number of players đang có 2 kiểu dữ liệu là `str` và `float`, việc cần làm là đổi cột này sang dạng `int` vì số lượng người chơi phải là số nguyên dương (Ở biến này có những chuỗi phức tạp nên ta sẽ tìm hiểu sau hơn ở phần tiền xử lí bên dưới).

<h2><b>Tiền xử lí dữ liệu</b><h2>

<b>Chuyển cột Release date sang kiểu dữ liệu datetime.

In [8]:
# YOUR CODE HEAR
df_games_info['Release date'] = pd.to_datetime(df_games_info['Release date'],format="%b %d, %Y")
print(df_games_info['Release date'].dt.year)

0       1998
1       2000
2       2008
3       1999
4       2008
        ...
1493    2010
1494    2004
1495    2011
1496    2003
1497    2003
Name: Release date, Length: 1498, dtype: int64

<b>Chuyển cột Rating sang kiểu dữ liệu int. Ta quy định như sau:</b>

Trong cột này có các giá trị ['E' 'T' 'M' 'E10+' nan 'K-A' 'AO']

- E là 3 tuổi trở lên nên quy định trong tệp này là 3

- T là 13 tuổi trở lên nên quy định trong tệp này là 13

- M là từ 17 tuổi trở lên nên quy định trong tệp này là 17

- E10+ là từ từ 10 tuổi trở lên nên quy định trong tệp này là 10

- K-A là từ 6 tuổi nên ta quy trong tệp này là 6

- AO là từ 18 nên quy định trong tệp này là 18

- Với nan ta quy định là -1

In [9]:
# YOUR CODE HEAR
def replace_rating(df,val_old,val_new):
    return df.replace([val_old], val_new)

df_games_info['Rating'] = replace_rating(df_games_info['Rating'],'E',3)
df_games_info['Rating'] = replace_rating(df_games_info['Rating'],'T',13)
df_games_info['Rating'] = replace_rating(df_games_info['Rating'],'M',17)
df_games_info['Rating'] = replace_rating(df_games_info['Rating'],'E10+',10)
df_games_info['Rating'] = replace_rating(df_games_info['Rating'],'K-A',6)
df_games_info['Rating'] = replace_rating(df_games_info['Rating'],'AO',18)
df_games_info['Rating'] = replace_rating(df_games_info['Rating'],np.nan,-1)

df_games_info = df_games_info.astype({'Rating':'int'})
print(df_games_info['Rating'])

0        3
1       13
2       17
3       13
4       17
        ..
1493     3
1494    13
1495    17
1496     3
1497     3
Name: Rating, Length: 1498, dtype: int32

<b>Ở đây ta tập trung tiền xử lí cho cột Number of players.</b>
- Đầu tiên hãy kiểm tra xem cột này có bao nhiêu giá trị khác nhau.
- Sau đó ta sẽ quy định lại giá trị int tương ứng cho giá trị đó.

Chúng ta sẽ kiểm tra số lượng giá trị khác nhau và lưu vào một list là `unique_values`.

In [10]:
# YOUR CODE HEAR
unique_values = df_games_info['Number of players'].unique()
print(unique_values)

['1 Player' '1-2' 'No Online Multiplayer' 'Up to 32' 'Up to 30' 'Up to 16'
 nan '1-4' 'Up to 4' 'Online Multiplayer' 'Up to 6' '1-16' 'Up to 8' '2'
 'Up to 18' '1-8' '8  Online' '2  Online' '4  Online' '1-32' 'Up to 10'
 'Up to 40' '16  Online' 'Massively Multiplayer' 'Up to 12' '24  Online'
 '6  Online' '1-12' 'Up to 20' 'Up to 5' '64+' 'Up to 22' 'Up to 60' '1-6'
 'Up to 24' 'Up to 3' '1-10' '64  Online' 'Up to 64' '12  Online'
 '10  Online' '32  Online']

- Với các giá trị có dạng `1-2, 1-16,...` ta chuyển nó thành giá trị của số lớn nhất bên phải.
- Với các giá trị có dạng `Up to 32` ta chuyển nó thành 32.
- Với các giá trị có dạng `No Online Multiplayer` ta chuyển nó thành 2.
- Với các giá trị có dạng `Massively Multiplayer` ta chuyển nó thành giá trị đoạn [1000,inf]
- Với các giá trị có dạng `Online Multiplayer` ta chuyển nó thành giá trị đoạn [2,100]
- Với các giá trị có dạng `Online` ta chuyển nó thành giá trị đoạn [2,50]
- Với các giá trị có dạng `64+` ta chuyển nó thành một giá trị đoạn [64,200]
- Với các giá trị có dạng `1 Player` ta chuyển nó thành 1
- Với giá trị `nan` ta cho bằng np.nan

In [11]:

def replace_num_of_player(value):
    if str(value).find('-') != -1:
        return int(value[value.find('-') + 1])
    elif str(value).find('Up to ') != -1:
        return int(value[6:8])
    elif str(value).find('  Online') != -1:
        return int(value[0: len(value) - 7])
    elif value =='No Online Multiplayer':
        return 1
    elif value == 'Massively Multiplayer':
        return [1000,np.inf]
    elif value == 'Online Multiplayer':
        return [2,100]
    elif value == 'Online':
        return [2,50]
    elif value == '64+':
        return [64,200]
    elif value == '1 Player':
        return 1
    else:
        return value
    

for i in range(len(df_games_info['Number of players'])):
    df_games_info['Number of players'].at[i] = replace_num_of_player(df_games_info['Number of players'].at[i])
df_games_info['Number of players'] = df_games_info['Number of players'].replace([np.nan],'0')
print(df_games_info['Number of players'])

0       1
1       2
2       1
3       2
4       1
       ..
1493    0
1494    1
1495    2
1496    4
1497    2
Name: Number of players, Length: 1498, dtype: object

Sau khi đã xong chúng ta tiếp tục các bước khám phá dữ liệu.

<h2><b>Khám phá dữ liệu (Tiếp tục).</b></h2>

<b>Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào?</b>

Các cột dạng numeric là: Metascore, Number of critic reviews, User Score, Number of user reviews.

Với mỗi cột numeric bạn sẽ tính tỉ lệ % giá trị thiếu (từ 0 đến 100), min, max. Bạn lưu kết quả vào dataframe `nume_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "min", "max"; và có 5 cột là "Metascore", "Number of critic reviews", "User Score", "Number of user reviews".

In [12]:
# YOUR CODE HERE
nume_col_profiles_df = pd.DataFrame(
    index=pd.Index(['missing_ratio', 'min','max']),
)
def col_profile(df):
    missing_ratio = (df.isnull().sum() / df.shape[0]) * 100
    min = df.min()
    max = df.max()
    result = [missing_ratio,min,max]
    return result

    
nume_col_profiles_df['Metascore'] = col_profile(df_games_info['Metascore'])
nume_col_profiles_df['Number of critic reviews'] = col_profile(df_games_info['Number of critic reviews'])
nume_col_profiles_df['User Score'] = col_profile(df_games_info['User Score'])
nume_col_profiles_df['Number of user reviews'] = col_profile(df_games_info['Number of user reviews'])


print(nume_col_profiles_df)

               Metascore  Number of critic reviews  User Score  \
missing_ratio        0.0                       0.0         0.0
min                 86.0                       7.0         2.1
max                 99.0                     132.0         9.6

               Number of user reviews
missing_ratio                     0.0
min                               4.0
max                          159969.0

<b>Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?</b>

Với mỗi cột dạng categorical, bạn tính tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị khác nhau (không xét giá trị thiếu), list/array các giá trị khác nhau (không xét giá trị thiếu). Bạn lưu kết quả vào dataframe `cate_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "num_diff_vals", "diff_vals"; và có 7 cột là "Title", "Release date", "Platform", "Other platforms", "Publisher", "Developer", "Genres"

In [13]:
# YOUR CODE HERE
cate_col_profiles_df = pd.DataFrame(
    index = pd.Index(['missing_ratio','num_diff_vals','diff_vals'])
)
def cate_col_profile(df):
    missing_ratio = (df.isnull().sum() / df.shape[0]) * 100
    num_diff_vals = df.nunique()
    temp = df
    temp = temp.dropna()
    diff_vals = set(temp)
    result = [missing_ratio,num_diff_vals,diff_vals]
    return result
cate_col_profiles_df['Title'] = cate_col_profile(df_games_info['Title'])
cate_col_profiles_df['Release date'] = cate_col_profile(df_games_info['Release date'])
cate_col_profiles_df['Platform'] = cate_col_profile(df_games_info['Platform'])
cate_col_profiles_df['Other platforms'] = cate_col_profile(df_games_info['Other platforms'])
cate_col_profiles_df['Publisher'] = cate_col_profile(df_games_info['Publisher'])
cate_col_profiles_df['Developer'] = cate_col_profile(df_games_info['Developer'])
cate_col_profiles_df['Genres'] = cate_col_profile(df_games_info['Genres'])

print(cate_col_profiles_df)

                                                           Title  \
missing_ratio                                                0.0
num_diff_vals                                               1042
diff_vals      {Star Wars: Knights of the Old Republic II: Th...

                                                    Release date  \
missing_ratio                                                0.0
num_diff_vals                                               1019
diff_vals      {2020-09-01 00:00:00, 2008-10-28 00:00:00, 202...

                                                        Platform  \
missing_ratio                                                0.0
num_diff_vals                                                 21
diff_vals      {PlayStation 5, Dreamcast, PlayStation 4, DS, ...

                                                 Other platforms  \
missing_ratio                                          32.042724
num_diff_vals                                                268
diff_vals      {PlayStation 3,PlayStation 4,PlayStation Vita,...

                                                       Publisher  \
missing_ratio                                                0.0
num_diff_vals                                                216
diff_vals      {EA Sports Big, SCEA, D-Pad Studio, Focus Home...

                                                       Developer  \
missing_ratio                                           0.066756
num_diff_vals                                                451
diff_vals      {ConcernedApe, SCEA, Paradigm Entertainment, R...

                                                          Genres
missing_ratio                                                0.0
num_diff_vals                                                383
diff_vals      {Action,Fighting,Fighting,3D,2D,2D,3D, Action,...

## Đặt câu hỏi

**Câu hỏi 1: Những thể loại game nào được người chơi đánh giá cao**

In [71]:
df = df_games_info.copy()

df["Genres"] = df.Genres.apply(lambda x: x[:].split(','))
df = df.explode('Genres')

sr1 = df.groupby(["Genres"])["User Score"].sum()
sr2 = df.groupby(["Genres"]).size()

user_score_for_each_game_genre = sr1/sr2
user_score_for_each_game_genre = user_score_for_each_game_genre.sort_values(ascending = False)

user_score_for_each_game_genre.head(10)

Genres
Horror                   8.676471
Military                 8.650000
Kart                     8.650000
Other                    8.600000
Breeding/Constructing    8.600000
Command                  8.536364
Snowboarding             8.514286
Space                    8.500000
Tycoon                   8.500000
PC-style RPG             8.495833
dtype: float64

**Câu hỏi 2: Games được đánh giá cao nhất và thấp nhất trên nền tảng PC qua từng năm**

In [129]:
df = df_games_info.copy()

df["Other platforms"] = df["Other platforms"].fillna('No other platforms')

df['All platforms'] = df['Platform'] + ',' + df['Other platforms']

df["All platforms"] = df["All platforms"].apply(lambda x: x[:].split(','))
df = df.explode('All platforms')

df_PC = df.loc[df["All platforms"] == "PC"]

df_PC = df_PC[["Title", "Platform", "Other platforms", "Release date", "Genres", "Metascore", "User Score"]]
df_PC['Year'] = df_PC["Release date"].dt.year

metascore_sr1 = df_PC.groupby(['Year', 'Title', 'Genres'])['Metascore'].sum()
metascore_sr2 = df_PC.groupby(['Year', 'Title', 'Genres'])['Metascore'].size()

userscore_sr1 = df_PC.groupby(['Year', 'Title', 'Genres'])['User Score'].sum()
userscore_sr2 = df_PC.groupby(['Year', 'Title', 'Genres'])['User Score'].size()

metascore_each_game_pc = metascore_sr1/metascore_sr2
userscore_each_game_pc = userscore_sr1/userscore_sr2

score_for_each_game = (metascore_each_game_pc + 10*userscore_each_game_pc)/2

highest_rated_pc_game = score_for_each_game.loc[score_for_each_game.groupby('Year').idxmax()]
lowest_rated_pc_game = score_for_each_game.loc[score_for_each_game.groupby('Year').idxmin()]

In [132]:
pd.DataFrame(highest_rated_pc_game)

                                                                                                           0
Year Title                                     Genres
1996 Sid Meier's Civilization II               Strategy,Turn-Based,Historic,General,Historic,4X    91.000000
1997 Final Fantasy VII                         Role-Playing,Console-style RPG                      90.500000
1998 Half-Life                                 Action,Shooter,Shooter,First-Person,Sci-Fi,Sci-...  93.500000
1999 Resident Evil 3: Nemesis                  Action Adventure,Survival                           93.500000
2000 Baldur's Gate II: Shadows of Amn          Role-Playing,PC-style RPG,PC-style RPG,Western-...  93.000000
2001 Halo: Combat Evolved                      Action,Shooter,First-Person,Sci-Fi                  92.000000
2002 Resident Evil (2002)                      Action Adventure,Horror                             93.500000
2003 Star Wars: Knights of the Old Republic    Role-Playing,Third-Person                           92.500000
2004 Half-Life 2                               Action,Shooter,Shooter,First-Person,Sci-Fi,Sci-...  94.000000
2005 Resident Evil 4                           Action Adventure,Horror                             94.250000
2006 Company of Heroes                         Strategy,Real-Time,Historic,General,Historic        90.000000
2007 BioShock                                  Action,Shooter,Shooter,First-Person,Sci-Fi,Sci-...  92.000000
2008 BioShock                                  Action,Shooter,Shooter,First-Person,Sci-Fi,Sci-...  92.000000
2009 Batman: Arkham Asylum                     Action Adventure,Fantasy,General,Fantasy            89.333333
2010 Mass Effect 2                             Role-Playing,Action RPG,Action RPG                  92.000000
2011 Portal 2                                  Action,Shooter,Shooter,First-Person,Sci-Fi,Sci-...  91.833333
2012 Journey                                   Action,Adventure,General,Platformer,Platformer,...  90.000000
2013 Grand Theft Auto V                        Modern,Action Adventure,Modern,Open-World           90.000000
2014 Grand Theft Auto V                        Action Adventure,Modern,Open-World                  89.000000
2015 The Witcher 3: Wild Hunt                  Action RPG,Role-Playing,Action RPG                  91.666667
2016 The Witcher 3: Wild Hunt - Blood and Wine Role-Playing,Action RPG                             91.250000
2017 Divinity: Original Sin II                 Action RPG,Role-Playing,Western-Style               90.500000
2018 God of War                                Action Adventure,Linear                             92.500000
2019 Resident Evil 2                           Action Adventure,Survival                           90.166667
2020 Half-Life: Alyx                           Action,Shooter,First-Person,Arcade                  92.500000
2021 Final Fantasy XIV: Endwalker              Role-Playing,Massively Multiplayer                  90.500000
2022 God of War                                Action Adventure,Linear                             89.000000

In [133]:
pd.DataFrame(lowest_rated_pc_game)

                                                                                                     0
Year Title                                  Genres
1996 Tomb Raider                            Action Adventure,Modern                             87.500
1997 Sid Meier's Gettysburg!                Strategy,Real-Time,Wargame,Real-Time,General        83.000
1998 Shogo: Mobile Armor Division           Action,Shooter,Shooter,First-Person,Sci-Fi,Sci-...  86.000
1999 Driver                                 Driving,Mission-based                               83.000
2000 NHL 2001                               Sports,Traditional,Team,Ice Hockey,Sim,Sim          77.500
2001 Madden NFL 2002                        Sports,Traditional,Football,Sim                     79.375
2002 Tiger Woods PGA Tour 2003              Sports,Traditional,Individual,Golf,Sim,Sim          71.000
2003 Madden NFL 2004                        Sports,Traditional,Team,Football,Sim,Sim            81.000
2004 Tiger Woods PGA Tour 2005              Sports,Traditional,Individual,Golf,Sim,Sim          65.500
2005 Brothers in Arms: Road to Hill 30      Action,Shooter,Shooter,First-Person,Historic,Hi...  79.500
2006 World Soccer Winning Eleven 9          Sports,Traditional,Soccer,Sim                       80.000
2007 World of Warcraft: The Burning Crusade Role-Playing,Miscellaneous,Massively Multiplaye...  75.500
2008 Guitar Hero World Tour                 Action,Miscellaneous,Rhythm,Music,Music             80.000
2009 LostWinds: Winter of the Melodias      Action,Platformer,Platformer,3D,3D                  59.500
2010 World of Warcraft: Cataclysm           Role-Playing,Miscellaneous,Massively Multiplaye...  73.500
2011 Call of Duty: Modern Warfare 3         Action,Shooter,Shooter,First-Person,Modern,Mode...  61.250
2012 Diablo III                             Role-Playing,Action RPG,Action RPG                  65.000
2013 NBA 2K14                               Sports,Traditional,Team,Basketball,Sim,Sim          68.500
2014 World of Warcraft: Warlords of Draenor Role-Playing,Miscellaneous,Massively Multiplaye...  65.500
2015 Her Story                              Adventure,Visual Novel                              74.000
2016 Out of the Park Baseball 17            Sports,Team,Baseball,Sim                            62.500
2017 Destiny 2                              Action,Shooter,First-Person,Arcade                  65.500
2018 Destiny 2: Forsaken                    Action,Shooter,First-Person,Arcade                  70.500
2019 Sid Meier's Civilization VI            Strategy,Turn-Based,4X                              76.250
2020 Huntdown                               Action,General,Platformer,2D                        72.000
2021 Deathloop                              Action Adventure,General,Action,Shooter,First-P...  71.000
2022 Monster Hunter Rise: Sunbreak          Role-Playing,Action RPG                             60.500

**Câu hỏi 3: Trong top 10 nhà phát hành phát hành nhiều game nhất thì các game được phát hành bởi nhà phát hành nào được đánh giá cao nhất, và thấp nhất?**

In [156]:
df = df_games_info.copy()

df['Year'] = df['Release date'].dt.year
top_publisher = df.groupby(['Publisher']).size().sort_values(ascending = False).head(10)

list_top_publisher = top_publisher.index.to_list()

df_top_publisher = df[df['Publisher'].isin(list_top_publisher)]

publisher_metascore_sr1 = df_top_publisher.groupby(['Publisher'])['Metascore'].sum()
publisher_metascore_sr2 = df_top_publisher.groupby('Publisher')['Metascore'].size()

publisher_userscore_sr1 = df_top_publisher.groupby(['Publisher'])['User Score'].sum()
publisher_userscore_sr2 = df_top_publisher.groupby('Publisher')['User Score'].size()

publisher_metascore = publisher_metascore_sr1/publisher_metascore_sr2
publisher_userscore = publisher_userscore_sr1/publisher_userscore_sr2

publisher_score = (publisher_metascore + publisher_userscore*10)/2

publisher_score.sort_values(ascending = False)

Publisher
Nintendo                  87.813492
Rockstar Games            86.824324
SCEA                      86.400000
Ubisoft                   85.759259
Capcom                    85.370690
Microsoft Game Studios    84.820312
Sega                      84.081081
Electronic Arts           83.554348
Activision                81.881356
EA Sports                 81.473684
dtype: float64